# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Environment files
.env
.env.*
!.env.example

# secrets
*.pem
*.key

multihop.ts
singlehop.ts